.scroll_top_hide {
  display: none;
}

.scroll_top {
  cursor: pointer;
  position: fixed;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  background-color: #fff;
  padding: 0.7em;
  right: 5em;
  bottom: 3em;
  box-shadow: 0 0 10px #8888;
}

@media screen and (max-width: 768px) {
  .scroll_top {
    right: 2em;
  }
}
