.home_switch_view {
  margin: 2em 0 1.5em;
  display: flex;
  justify-content: center;
}

.home_switch_items {
  fill: #cecece;
  margin: 0 0.25em;
  cursor: pointer;
}

.home_switch_items_selected {
  fill: var(--ifm-color-primary);
}

.home_news_blog_title {
  margin: 3em 0 0;
  text-align: center;
}

.home_news_blog_title > svg {
  fill: red;
}

.home_blogPost_container {
  max-width: 1320px;
  margin: 0 auto 4em;
}

.home_blogList_card > .home_blogItem {
  padding: 2em;
  border-radius: 12px;
  margin-bottom: 5em;
}

.home_blogList_list {
  display: grid;
  gap: 20px 36px;
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5em;
}

.home_blogList_list > .home_blogItem {
  border-radius: 12px;
  box-shadow: unset;
}

.home_blogItem {
  border: 1px solid #e3e3e36e;
  box-shadow: 1px 1px 8px #ced1d6, -1px -1px 8px #fff;
  transition: 0.25s ease-in-out;
}

.home_blogList_card > .home_blogItem:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 60px #ced1d6, -15px -15px 60px #fff;
}
