.recent_post_container {
  padding: 24px 0 24px 24px;
  overflow: hidden;
  position: sticky;
  top: 80px;
}

.recent_post_content {
  padding: 0;
}

.recent_post_item {
  list-style: none;
  text-overflow: ellipsis;
}

.recent_post_link {
  /* display: block; */
  font-size: 12.8px;
  color: var(--ifm-color-grey-800);
}

.recent_post_link:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}
