.hero.hero--primary {
  height: calc(100vh - 60px);
  background-image: url(../../static/img/home-banner.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  animation: swing 50s ease infinite;
}

.hero.hero--primary > .container {
  width: 840px;
  padding: 3em;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 1.8rem;
    margin-bottom: 8px;
  }
  .hero__subtitle {
    font-size: 0.8rem;
  }
  /*  */
}

@keyframes swing {
  0% {
    background-position: center center;
  }

  25% {
    background-position: left center;
  }

  75% {
    background-position: right center;
  }

  100% {
    background-position: center center;
  }
}
