.blog_items {
  display: flex;
}

.blog_items_matter {
  flex: 0 0 15em;
}

.blog_items_content {
  flex: 1 1 auto;
}

.blog-items_readTime {
  font-size: 0.5em;
  display: flex;
  align-items: flex-end;
  color: #8d949e;
}

.blog_items_date {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10em;
  margin: 0 auto;
  border-radius: 100%;
  border-top: 2px solid #4b8cf7;
  border-bottom: 2px solid #f67;
}

.blog_items_date > div {
  display: flex;
  justify-content: center;
  height: 60px;
}

.blog_items_day {
  font-size: 4.75em;
  font-weight: 900;
}

.blog_items_month {
  font-size: 1em;
  line-height: 60px;
  color: #8c8c8c;
}

.blog_items_title > a {
  font-size: 1.5em;
  text-decoration: none;
}

.blog_items_author {
  display: flex;
}

.blog_items_avatar {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.blog_items_author_info {
  flex: 1 1 auto;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blog_items_author_info > a {
  text-decoration: none;
  font-weight: 900;
}
.blog_items_author_info > div {
  font-size: smaller;
}

.blog_items_tags {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.blog_items_tags_icon > svg {
  width: 1.25em;
  transform: translateY(0.25em);
}

.blog_items_tags > a:not(:first-child) {
  margin-right: 0.5em;
}

.blog_items_tags > a[data-label='tag'] {
  padding: 6px 10px;
  border-radius: 6px;
  background-color: var(--ifm-color-primary);
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.75em;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}

.blog_items_footer {
  display: flex;
  justify-content: flex-end;
}

.blog_items_readMore {
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 12px;
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient(var(--ifm-color-primary), var(--ifm-color-primary-light));
  box-shadow: 0 0 10px 4px #6663;
}

.blog_items_readMore:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .blog_items_matter {
    flex-basis: 10em;
  }

  .blog_items_date {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 600px) {
  .blog_items {
    flex-direction: column;
  }

  .blog_items_title > a {
    font-size: 1.2em;
  }
}
